{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	- Mot de passe oublié
{% endblock %}

{% block body %}
	<article class="container m-0 p-0 text-center translate-middle-y" style="margin-top: -50vh !important; max-height: 235px; max-width: 400px;">
		{{ form_start(form, {
			class: 'w-100 h-100'
		}) }}
			<div class="bg-alpha p-2">
				<h2 class="my-3">Mot de passe oublié</h2>

				{{ form_row(form.username, {
					attr: {
						class: 'my-1'
					}
				}) }}

				<div class="form-group my-3">
					<button type="submit" class="btn btn-primary text-light w-100">Demander la réinitialisation du mot de passe</button>
				</div>

				{% if success is defined %}
                    <div class="alert alert-success">{{ success|nl2br }}</div>
                {% endif %}
			</div>
		{{ form_end(form) }}
	</article>
{% endblock %}
