{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	- Réinitialiser le mot de passe
{% endblock %}

{% block body %}
	<article class="container m-0 p-0 text-center translate-middle-y" style="margin-top: -50vh !important; max-height: 375px; max-width: 400px;">
		{{ form_start(form, {
			class: 'w-100 h-100'
		}) }}
			<div class="bg-alpha p-2">
				<h2 class="my-3">Réinitialiser le mot de passe</h2>

				{{ form_row(form.plainPassword, {
					attr: {
						class: 'my-1'
					}
				}) }}

				<div class="form-group my-3">
					<button type="submit" class="btn btn-primary text-light">Réinitialiser le mot de passe</button>
				</div>

				{% if success is defined %}
                    <div class="alert alert-success">{{ success|nl2br }}</div>
                {% endif %}

				{% if error is defined %}
                    <div class="alert alert-danger">
						{{ error.message|nl2br }}
						<br>
						<a href="{{ path('app_forgot_password') }}" class="link-danger">Demander un nouveau lien</a>
					</div>
                {% endif %}
			</div>
		{{ form_end(form) }}
	</article>
{% endblock %}
