{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	- Vérification de compte
{% endblock %}

{% block body %}
	<article class="container m-0 p-0 text-center translate-middle-y" style="margin-top: -50vh !important; max-height: 375px; max-width: 400px;">
		<form class="w-100 h-100 d-flex flex-column justify-content-center">
			<div class="bg-alpha p-2">
				<h2 class="my-3">Vérification de compte</h2>

				{% if success is defined %}
					<div class="alert alert-success">{{ success|nl2br }}</div>

					<div class="form-group my-3">
						<a href="{{ path('app_home') }}" class="btn btn-primary text-light">Revenir a l'accueil</a>
					</div>
				{% endif %}

				{% if error is defined %}
					<div class="alert alert-danger">{{ error|nl2br }}</div>

					<div class="form-group my-3">
						<a href="{{ path('app_login') }}" class="btn btn-primary text-light">Connexion</a>
					</div>

					<div class="form-group my-3">
						<a href="{{ path('app_verify_resend') }}" class="link-secondary">Demander un nouveau lien</a>
					</div>
				{% endif %}
			</div>
		</form>
	</article>
{% endblock %}
