<nav class="position-fixed position-lg-absolute zi-1 navbar navbar-expand-lg navbar-light w-100 bg-lg-transparent bg-white">
	<div class="container w-100 mw-100">
		<a class="navbar-brand fs-4 fw-bold" href="{{ path('home') }}">SnowTricks</a>
		<button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0 fs-5">
				<li class="nav-item">
					<a class="nav-link {{ app.request.get('_route') == 'home' ? 'active' : '' }}" href="{{ path('home') }}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('home') }}#top">Tricks</a>
				</li>
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link {{ app.request.get('_route') == 'logout' ? 'active' : '' }}" href="{{ path('logout') }}">Logout</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link {{ app.request.get('_route') == 'login' ? 'active' : '' }}" href="{{ path('login') }}">Connexion</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{ app.request.get('_route') == 'register' ? 'active' : '' }}" href="{{ path('register') }}">Register</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
