<nav class="position-fixed position-lg-absolute zi-1 navbar navbar-expand-lg navbar-light w-100 bg-lg-transparent bg-white">
	<div class="container w-100 mw-100">
		<a class="navbar-brand fs-3 fw-bold" href="{{ path('app_home') }}">SnowTricks</a>
		<button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0 fs-5">
				<li class="nav-item">
					<a class="nav-link {{ app.request.get('_route') == 'app_home' ? 'active' : '' }}" href="{{ path('app_home') }}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_home') }}#top">Tricks</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{ app.request.get('_route') == 'app_trick_create' ? 'active' : '' }}" href="{{ path('app_trick_create') }}">Créer un trick</a>
				</li>
				{% if app.user %}
					{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle {{ (app.request.get('_route') == 'app_admin_comment' or app.request.get('_route') == 'app_admin_comment') ? 'show' : '' }}" href="#" id="navbarDropdownAdmin" role="button" data-bs-toggle="dropdown" aria-expanded=" {{ (app.request.get('_route') == 'app_admin_comment' or app.request.get('_route') == 'app_admin_comment') ? 'true' : 'false' }}">
								Admin
							</a>
							<ul class="dropdown-menu rounded-0 {{ (app.request.get('_route') == 'app_admin_comment' or app.request.get('_route') == 'app_admin_comment') ? 'show' : '' }}" aria-labelledby="navbarDropdownAdmin">
								<li><a class="dropdown-item" href="{{ path('app_admin_comment') }}">Gestion des commentaires</a></li>
								<li><a class="dropdown-item" href="#">Gestion des catégories</a></li>
							</ul>
						</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link {{ app.request.get('_route') == 'app_login' ? 'active' : '' }}" href="{{ path('app_login') }}">Connexion</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{ app.request.get('_route') == 'app_register' ? 'active' : '' }}" href="{{ path('app_register') }}">S'inscrire</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
