<a href="{{ path('app_trick', { slug: trick.slug }) }}"><img class="card-img-top w-100" src="{{ trick.coverImage.url|default(asset('images/background.jpg')) }}" alt="{{ trick.coverImage.alt|default("Image par défaut, aucune image de couverture n'a été données.") }}"></a>
<div class="card-body p-1 d-flex flex-rox justify-content-between align-content-center">
	<h5 class="card-title m-0 p-1 align-self-center">{{ trick.name }}</h5>

	{% if app.user %}
		<div class="d-flex justify-content-end align-items-start align-self-center">
			<a href="{{ path('app_trick_edit', { slug: trick.slug }) }}" class="btn p-1 fs-6" title="Édition de trick">
				<i class="fas fa-pencil-alt"></i>
			</a>

			{% if is_granted('delete_trick', trick) %}
				<button type="button" class="btn p-1 fs-6" data-controller="update-delete-modal" data-bs-toggle="modal" data-bs-target="#trickDeleteModal" title="Supression de trick" body="Etes vous sure de vouloir supprimer ce trick ? Cette action est irrévocable." link="{{ path('app_trick_delete', { slug: trick.slug }) }}">
					<i class="fas fa-trash-alt"></i>
				</button>
			{% endif %}
		</div>
	{% endif %}
</div>
